@page "/counter"
@using BlazorApp6.UnitOfWork
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

@code {

    protected override void OnInitialized() // = On Page Load
    {
        TaskCardsCount();
        //private UnitOfWork unitOfWork { get; set; } 
       
    }  

}

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
  
    private int currentCount = 0;
    private int currentRowsCount = 0;
    [Inject]
    private DataContext Context { get; set; }

    [Inject]
    IUnitOfWork unitOfWork{ get; set; }



    private void IncrementCount()
    {
        currentCount++;
    }
    
        private async Task AddTaskCard()
        {
            Category testCategory = new Category() { Name = "moovies" };
            var taskCard = new TaskCard() { Name = "wow" , Category = testCategory, Status = "New"};
            await unitOfWork.TaskCards.AddAsync(taskCard);
            await unitOfWork.SaveChangesAsync();
            TaskCardsCount();
        }

        private void TaskCardsCount()
        {
             currentRowsCount  = unitOfWork.TaskCards.GetAllAsync().Result.Count();
        }
}

<p role="status">Current rows in table: @currentRowsCount</p>
<button class="btn btn-primary" @onclick="AddTaskCard"> Test db</button>
